
ul.ddmenu{
    background-color: #DDDDDD;
    margin: 0px;
    padding: 0px 0px 0px 5px;
}
ul.ddmenu li{
    width: 150px;
    list-style-type: none;
    display: inline-block;
    position: relative ;
}

ul.ddmenu a{
    background-color: #DDDDDD;
    color:black;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul.ddmenu ul{
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

ul.ddmenu a:hover{
    background-color: #C0C0C0;
    color: white;
}

ul.ddmenu li:hover ul{
    display: block;
}



